<%= render "shared/header" %>

<div id="japan-map" class="clearfix">
  <div id="kyusyu" class="clearfix">
    <p class="area-title">九州・沖縄</p>
    <div class="area">
      <a href="#">
        <div id="fukuoka">
          <p>福岡</p>
        </div>
      </a>
      <a href="#">
        <div id="saga">
          <p>佐賀</p>
        </div>
      </a>
      <a href="#">
        <div id="nagasaki">
          <p>長崎</p>
        </div>
      </a>
      <a href="#">
        <div id="oita">
          <p>大分</p>
        </div>
      </a>
      <a href="#">
        <div id="kumamoto">
          <p>熊本</p>
        </div>
      </a>
      <a href="#">
        <div id="miyazaki">
          <p>宮崎</p>
        </div>
      </a>
      <a href="#">
        <div id="kagoshima">
          <p>鹿児島</p>
        </div>
      </a>
    </div>
  </div>

</div>

